In [1]:
import pandas
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/doggy-boot-harness.csv
!pip install statsmodels


# Make a dictionary of data for boot sizes
# and harness size in cm
data = {
    'boot_size' : [ 39, 38, 37, 39, 38, 35, 37, 36, 35, 40, 
                    40, 36, 38, 39, 42, 42, 36, 36, 35, 41, 
                    42, 38, 37, 35, 40, 36, 35, 39, 41, 37, 
                    35, 41, 39, 41, 42, 42, 36, 37, 37, 39,
                    42, 35, 36, 41, 41, 41, 39, 39, 35, 39
 ],
    'harness_size': [ 58, 58, 52, 58, 57, 52, 55, 53, 49, 54,
                59, 56, 53, 58, 57, 58, 56, 51, 50, 59,
                59, 59, 55, 50, 55, 52, 53, 54, 61, 56,
                55, 60, 57, 56, 61, 58, 53, 57, 57, 55,
                60, 51, 52, 56, 55, 57, 58, 57, 51, 59
                ]
}

# Convert it into a table using pandas
dataset = pandas.DataFrame(data)

# Print the data
# In normal python we would write
# print(dataset)
# but in Jupyter notebooks, if we simple write the name
# of the variable and it is printed nicely 
dataset

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

Requirement already satisfied: statsmodels in c:\users\uktpbfarooq\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.15 in c:\users\uktpbfarooq\anaconda3\lib\site-packages (from statsmodels) (1.20.1)
Requirement already satisfied: scipy>=1.1 in c:\users\uktpbfarooq\anaconda3\lib\site-packages (from statsmodels) (1.6.2)
Requirement already satisfied: pandas>=0.21 in c:\users\uktpbfarooq\anaconda3\lib\site-packages (from statsmodels) (1.2.4)
Requirement already satisfied: patsy>=0.5 in c:\users\uktpbfarooq\anaconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\uktpbfarooq\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\uktpbfarooq\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: six in c:\users\uktpbfarooq\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.15.0)

    boot_size  harness_size
0          39            58
1          38            58
2          37            52
3          39            58
4          38            57
5          35            52
6          37            55
7          36            53
8          35            49
9          40            54
10         40            59
11         36            56
12         38            53
13         39            58
14         42            57
15         42            58
16         36            56
17         36            51
18         35            50
19         41            59
20         42            59
21         38            59
22         37            55
23         35            50
24         40            55
25         36            52
26         35            53
27         39            54
28         41            61
29         37            56
30         35            55
31         41            60
32         39            57
33         41            56
34         42            61
35         42            58
36         36            53
37         37            57
38         37            57
39         39            55
40         42            60
41         35            51
42         36            52
43         41            56
44         41            55
45         41            57
46         39            58
47         39            57
48         35            51
49         39            59